<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soundar.tte">

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Train_detils"/>
        <activity android:name=".Coach_position"/>
        <activity android:name=".Accoach"/>
        <activity android:name=".Confirm_details"/>
        <activity android:name=".S1"/>
        <activity android:name=".Summary"/>
        <activity android:name=".DisplayContact"/>
        <activity android:name=".Filter_Menu"/>
        <activity android:name=".Filter_Name"/>
        <activity android:name=".Filter_Pnrno"/>
        <activity android:name=".Filter_Seatno"/>
        <activity android:name=".Filter_aadhar"/>
        <activity android:name=".Logout"/>
    </application>

</manifest>